<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Zeiterfassung vom feinsten</span>
            <span class="md-subhead">Natürlich erdacht an der HTL Rennweg..</span>
        </md-card-title-text>
        <md-card-title-media>
            <div class="md-media-lg card-media"></div>
        </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-raised md-primary" ui-sref="zeiterfassung">ZEITEN ERFASSEN</md-button>
    </md-card-actions>
</md-card>